<h1>Carrinho</h1>

<% if @cart.empty? %>
    <p>Seu carrinho está vazio.</p>
<% end %>

<% total = 0 %>
	
<table class="cart">
    <tr>
        <td class="legend"></td>
        <td align="center" class="legend">Item</td>
        <td align="center" class="legend">Price</td>
        <td align="center" class="legend">Qty</td>
        <td align="center" class="legend">Total</td>
    </tr>
	
<% @cart.each do | id, quantidade | %>
    <% itens = Products.new.search nil, nil %>
    <% itens.each do | item | %>
    <% if item.codigo == id %>
        <tr>
            <td><%=image_tag(item.imagem, :size => "100x100") %></td>
            <td class="title"><%= item.nome %></td>
            <td align="center" class="price"><%= number_to_currency(item.preco) %></td>
            <td align="center" class="quantity"><%= quantidade %><br /></td>
            <td align="center" class="price">
            <%= number_to_currency(quantidade * item.preco, :unit => "R$") %>
        </td>
        </tr>
    <% total += quantidade * item.preco %>
    <%end%>
    <% end %>
<% end %>

    <tr>
        <td colspan="4">
            <div class="total">Total:</div>
        </td>
        <td>
            <div class="price"><%= number_to_currency(total, :unit => "R$") %></div>
        </td>
    </tr>
</table>

<p> |
    <%= link_to 'Continue Shopping', :controller => :items %>
</p>
