<h1>Carrinho</h1>

<% if @cart.empty? %>
    <p>Seu carrinho está vazio.</p>
<% end %>

<% total = 0 %>
	
<p id="notice"><%= notice %></p>

<table class="cart" cellspacing="1">
    <tr>
        <td class="legend"> </td>
        <td align="center" class="legend">Item</td>
        <td align="center" class="legend">Preço</td>
        <td align="center" class="legend">Quantidade (Estoque)</td>
        <td align="center" class="legend">Nova Quant.</td>
        <td align="right" class="legend">Total</td>
    </tr>
    
<% itens = Products.new.search nil, nil %>
<% @cart.each do | id, quantidade | %>
    <% itens.each do | item | %>
        <% if item.codigo == id %>
            <tr>
                <td><%=image_tag(item.imagem, :size => "100x100") %></td>
                <td class="title"><%= item.nome %></td>
                <td align="center" class="price"><%= number_to_currency(item.preco) %></td>
                <td align="center" class="quantity"><%= quantidade%><%="(#{item.quantidade})" %></td>
                <td align="center" class="quantity"><%= form_tag("/cart/change/#{item.codigo}") do %>               <%= text_field_tag :quantity,'', :size => 1 %><%= submit_tag 'OK' %>               <% end %></td>
                <td align="center" class="price">                                                                <%= number_to_currency(quantidade * item.preco, :unit => "R$") %></td>
            </tr>
        <% total += quantidade * item.preco %>
        <% session[:total] = total %>
        <% end %>
    <% end %>
<% end %>

    <tr><br/><br/><br/><h2>
        <td colspan="4">
            <div class="total">Total:</div>
        </td>
        <td>
            <div class="price"><%= number_to_currency(total, :unit => "R$") %></div>
        </td></h2>
    </tr>
</table>
<br/><br/>
<p>
    <%= link_to 'Comprar mais produtos', "/index" %>
</p>

<br/><br/><br/>
<p>
    <%= link_to 'Finalizar Compra', "/entrega" %>
</p>
