<div style="margin-left: 50px;">
  <h1>Produtos</h1>


  <h2>Busca</h2><br/>
  Campo_de_Busca<br/><br/><br/>

  <h2>Categoria</h2><br/>
  Area_de_Categorias<br/><br/><br/>

  <h2>Lista de Produtos</h2><br/><br/>

  <%= "Produdo #{@prod1["product"]["code"]}" %><br/>
  <%= "Preço #{@prod1["product"]["price"]}" %><br/>
  <%= "Estoque #{@prod1["product"]["quantity"]}" %><br/>
  <%= link_to "Adicionar ao Estoque", index_add_path(@prod1["product"]["code"]) %><br/><br/><br/>
  <%= link_to "Retirar um do Estoque", index_sub_path(@prod1["product"]["code"]) %><br/><br/><br/>

  <%= "Produdo #{@prod2["product"]["code"]}" %><br/>
  <%= "Preço #{@prod2["product"]["price"]}" %><br/>
  <%= "Estoque #{@prod2["product"]["quantity"]}" %><br/><br/><br/>

  <%= "Produdo #{@prod3["product"]["code"]}" %><br/>
  <%= "Preço #{@prod3["product"]["price"]}" %><br/>
  <%= "Estoque #{@prod3["product"]["quantity"]}" %><br/><br/><br/>

  <%= "Produdo #{@prod4["product"]["code"]}" %><br/>
  <%= "Preço #{@prod4["product"]["price"]}" %><br/>
  <%= "Estoque #{@prod4["product"]["quantity"]}" %><br/><br/><br/>

  <%= "Produdo #{@prod5["product"]["code"]}" %><br/>
  <%= "Preço #{@prod5["product"]["price"]}" %><br/>
  <%= "Estoque #{@prod5["product"]["quantity"]}" %><br/><br/><br/>

  <%= "Produdo #{@prod6["product"]["code"]}" %><br/>
  <%= "Preço #{@prod6["product"]["price"]}" %><br/>
  <%= "Estoque #{@prod6["product"]["quantity"]}" %><br/><br/><br/>
</div>